@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";


@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "pages/home";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";


@import "layout/header";
@import "layout/grid";

@import "components/card";


.heading-primary-main {
    display: block;
    font-size:  80px;
    
    font-weight: 300;
    letter-spacing: 35px;
    /* position: absolute; */
    animation-name: moveInLeft;
    animation-duration: 3s;

}

.heading-secondary {

    // margin:auto;
    text-align: center;
    font-size:40px
}

 

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
  
}
.paragraph {
    font-size: 1.6rem;
    margin-bottom: 3rem;
    /* &:not(:last-child) {

    } */
    // &-two {
    //     float: right;
        
    // }
}


.section-about {

    background-color:  #f7f7f7; /* color-grey-light-1 */
    padding: 5rem 0;
    /*compensates for wedge  */
    margin-top: -20vh;
    
    
}
// .section-projects {
//     background-color:  #f7f7f7; /* color-grey-light-1 */
//     padding: 35rem 0;
//     /*compensates for wedge  */
//     margin-top: -20vh;
    
// }

.heading-about {
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56fc9,
    #28b485 )
}
/* .logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
} */
/*linear-gradient(to right #0000FF, #00FFFF),*/

/* .header {
    height: 95vh;
    display: block;
    position: relative;
  }
  
  header::after {
    content: "";
    background: linear-gradient(to right #0000FF, #00FFFF), url('images/network-nodes2.jpg');
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  } */

 

