@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";


@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "pages/home";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";


@import "layout/header";
@import "layout/grid";
@import "layout/footer";

@import "components/card";
@import "components/buttonLarge";
@import "components/button";
@import "components/aboutInfo";
@import "components/story";
@import "components/profile";


// .heading-primary-main {
//     display: block;
//     font-size:  80px;
    
//     font-weight: 100;
//     letter-spacing: 35px;
//     /* position: absolute; */
//     animation-name: moveInLeft;
//     animation-duration: 3s;



// }


.row-build-something {
// opacity: 0;
//text-align: center;
padding: 1rem;
background-color: white;
width: 100%;
border-top: 5px solid black;
height: 5rem;
}

.heading-secondary-main {
//text-align: center;
background-color: white;
   margin: 0 auto;
    font-weight: normal;
  
    font-size:4rem;
    color: $color-tertiary-light;

  

    &-build-something {
       float: right;
       box-shadow: 0 1rem 2rem rgba($color-black,.2);
       //margin-right: 4rem;
        


       @include respond(phone) {
        letter-spacing: 1rem;
        font-size: 1rem;
        }
    }
}

.row-nav{
    margin-top: -8rem;
}