
.profile-picture-container {
    width: 20rem;
    height: 20rem;
    position: absolute;
    float: right;
    margin-right: 5rem;
    overflow: hidden;
    border-radius: 50%;
        
        //box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

}

.profile-picture {
 
// float:right;
// margin-right: 10rem;
//     width: 300px;
//  height: 600px;
//  border-radius: 50%;

//     background-color: #cccccc;

//     background-position: center;
//     background-repeat: no-repeat;
   
//     position: relative;

display: inline;
margin: 0 auto;
margin-right: -25%; //centers the image
height: 100%;
width: auto;
       // background-image: url('./images/Profile8.jpg');
      
  
       
    
}
