body {
  font-family: "Lato", sans-serif;
  //font-weight: 400;

  line-height: 1.7;
  color: $color-grey-dark;
  //padding: 3rem;
}

.improv {
  text-decoration: none;
  color: #00ffff96;
}
.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  &--main {
    display: block;
    font-size: 8rem;
    font-weight: 300;
    letter-spacing: 3.5rem;
    /* position: absolute; */
    animation-name: moveInLeft;
    animation-duration: 3s;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 6rem;
    }
  }

  &--sub {
    font-size: 2rem;
    display: block;
    font-weight: 700;
    letter-spacing: 2rem;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 1.5rem;
    }
  }
}

.heading-secondary-projects {
  // background-image: linear-gradient(to right bottom,
  // $color-tertiary-light, $color-tertiary-dark);
  // color: transparent;

  color: #5643fa;
  padding: 0;
  font-weight: 900;
  //box-shadow: 0 1rem 2rem rgba($color-black,.2);
  background-color: white;

  //font-weight: normal;
  text-align: center;
  font-size: 6rem;

  margin: 0;
  //margin-bottom: 3rem;

  @include respond(phone) {
    //letter-spacing: 2rem;
    font-size: 3rem;
  }
}

.heading-secondary {
  padding: 3rem;
  font-weight: normal;
  text-align: center;
  font-size: 4.5rem;
  color: $color-tertiary-light;
  margin: 0;
  //margin-bottom: 3rem;

  @include respond(phone) {
    //letter-spacing: 2rem;
    font-size: 3rem;
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph {
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 3rem;
  /* &:not(:last-child) {

    } */
  // &-two {
  //     float: right;

  // }
}

.paragraph-right-story {
  // border-bottom: 100%;
  // border-left: 25% solid transparent;
}
// .section-about {

//     background-color:  #f7f7f7; /* color-grey-light-1 */
//     padding: 5rem 0;
//     /*compensates for wedge  */
//     margin-top: -20vh;

// }
// .section-projects {
//     background-color:  #f7f7f7; /* color-grey-light-1 */
//     padding: 35rem 0;
//     /*compensates for wedge  */
//     margin-top: -20vh;

// }

.heading-about {
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56fc9, #28b485);
}
/* .logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
} */
/*linear-gradient(to right #0000FF, #00FFFF),*/

/* .header {
    height: 95vh;
    display: block;
    position: relative;
  }
  
  header::after {
    content: "";
    background: linear-gradient(to right #0000FF, #00FFFF), url('images/network-nodes2.jpg');
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  } */

.section-stories {
  position: relative;
  padding: 15rem 0;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}
