.section-projects {
  background-color: white;

  padding: 0 0 10rem 0;
  @include respond(tab-land) {
    background-color: #eee;
  }
}

// .section-projects-border {
//     background-color: white;
//     padding: 0 0 5rem 0;
//     border-top: 3px solid $color-grey-dark;
// }
